@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

$Pink: #ef7998;
$White: #fff;
$Grey: #dcdcdc;
$Black: #000;

body {
  font-family: "Kaushan Script", cursive;
  background: $White;
  color: $Black;
  margin: 0 auto;
  padding: 0;
}

// nav bar
.nav {
  margin: 2rem;
  display: inline-block;
  border: 2px solid $Black;
  border-radius: 50%;

  &:hover {
    color: $Pink;
    border: 2px solid $Pink;
  }
  .back-btn {
    font-size: 1.8rem;
    padding: 0.5rem 0.7rem;
  }
}

// products
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .product-text,
  .product-image {
    margin: 2rem;
  }
}
.product-text {
  h2 {
    color: $Pink;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2.7rem;
  }
  button {
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    border: 2px solid $Black;
    border-radius: 2rem;

    &:hover {
      background-color: $Black;
      color: $Pink;
    }
  }
}
.product-image {
  img {
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
  }
}
