@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
body {
  font-family: "Kaushan Script", cursive;
  background: #fff;
  color: #000;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-image: linear-gradient(rgba(249, 228, 148, 0.5019607843), rgba(249, 228, 148, 0.5019607843)), url(../img/headerBcg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
}

.nav-bar-bg {
  background-color: #fff;
}

.nav-bar {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  transition: all 0.5s;
  margin-left: 2rem;
}
.logo:hover {
  transform: scale(1.1);
}

.menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  width: 100%;
}
.menu li a {
  text-decoration: none;
  color: #ef7998;
  font-size: 1.6rem;
  padding: 0.8rem;
  width: 100%;
  transition: all 0.5s;
}
.menu li a:hover {
  color: #000;
  font-size: 1.8rem;
}

.header-menu {
  color: #ef7998;
  font-size: 2.2rem;
  margin-right: 2rem;
  display: none;
}

.header-cart {
  font-size: 1.2rem;
  background-color: #ef7998;
  color: #fff;
  border-radius: 50%;
  padding: 0.7rem;
  margin-right: 2rem;
  transition: all 0.5s;
}
.header-cart:hover {
  color: #000;
  transform: scale(1.1);
  cursor: pointer;
}

.header-text {
  width: 100%;
  height: 100%;
  grid-row: 5;
  text-align: center;
}
.header-text p {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0.7rem;
}
.header-text span {
  color: #ef7998;
  font-size: 4rem;
}
.header-text button {
  border: 3px solid #000;
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.4rem 0.7rem;
  transition: all 0.5s;
}
.header-text button:hover {
  color: #ef7998;
  background-color: #000;
}

.store .store-container {
  max-width: 70rem;
  margin: auto;
  text-align: center;
  position: relative;
}

.store-text {
  font-size: 2.3rem;
  color: #000;
  margin-bottom: 1rem;
  padding-top: 3rem;
}
.store-text span {
  color: #ef7998;
  font-size: 3.4rem;
}

.store-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.store-btns button {
  border: 2px solid #000;
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: 1rem;
  width: 8rem;
  height: 3rem;
  padding: 0.4rem 0.7rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  transition: all 0.5s;
}
.store-btns button:hover {
  color: #ef7998;
  background-color: #000;
}

.search-box {
  margin-bottom: 4rem;
  background-color: #fff;
  border: 2px solid #dcdcdc;
  border-radius: 0.2rem;
  display: inline-block;
}
.search-box i {
  background-color: #ef7998;
  border-right: 2px solid #dcdcdc;
  padding: 0.7rem;
  border-radius: 0.1rem 0 0 0.1rem;
}
.search-box input {
  background-color: transparent;
  outline: none;
  width: 18rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-auto-rows: 1fr;
  margin-bottom: 4rem;
}

.product {
  margin: 1rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.product-img {
  overflow: hidden;
}
.product-img img {
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s;
}
.product-img img:hover {
  transform: scale(1.2);
}
.product-img .product-cart {
  position: absolute;
  right: -4rem;
  bottom: 0;
  z-index: 1;
  border-radius: 2rem 0 0 0;
  background-color: #fff;
  display: inline-block;
  transition: all 0.7s;
}
.product-img .product-cart:hover {
  color: #ef7998;
}
.product-img .product-cart i {
  padding: 1.3rem;
  font-size: 1.2rem;
}

.product-description {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.product-description a:hover {
  color: #ef7998;
  text-decoration: underline;
}

.about-container {
  display: flex;
  border-top: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
}

.about-text,
.about-image {
  margin: 2rem;
}

.about-text h2 {
  color: #ef7998;
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
.about-text p {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 2.7rem;
}

.about-image img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 1rem;
  text-align: center;
}
.footer span {
  color: #ef7998;
}/*# sourceMappingURL=styles.css.map */