@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

$Pink: #ef7998;
$Yellow: #f9e494;
$White: #fff;
$Black: #000;
$yellowTrans: #f9e49480;
$Grey: #dcdcdc;

body {
  font-family: "Kaushan Script", cursive;
  background: $White;
  color: $Black;
  margin: 0 auto;
  padding: 0;
}
// header section 
.header {
  background-image: linear-gradient($yellowTrans, $yellowTrans),
    url(../img/headerBcg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
}

.nav-bar-bg {
  background-color: $White;
}

.nav-bar {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  transition: all 0.5s;
  margin-left: 2rem;

  &:hover {
    transform: scale(1.1);
  }
}

.menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  width: 100%;

  li a {
    text-decoration: none;
    color: $Pink;
    font-size: 1.6rem;
    padding: 0.8rem;
    width: 100%;
    transition: all 0.5s;

    &:hover {
      color: $Black;
      font-size: 1.8rem;
    }
  }
}

.header-menu {
  color: $Pink;
  font-size: 2.2rem;
  margin-right: 2rem;
  display: none;
}

.header-cart {
  font-size: 1.2rem;
  background-color: $Pink;
  color: $White;
  border-radius: 50%;
  padding: 0.7rem;
  margin-right: 2rem;
  transition: all 0.5s;

  &:hover {
    color: $Black;
    transform: scale(1.1);
    cursor: pointer;
  }
}

.header-text {
  width: 100%;
  height: 100%;
  grid-row: 5;
  text-align: center;

  p {
    font-size: 2.5rem;
    color: $White;
    margin-bottom: 0.7rem;
  }

  span {
    color: $Pink;
    font-size: 4rem;
  }

  button {
    border: 3px solid $Black;
    border-radius: 0.3rem;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 0.4rem 0.7rem;
    transition: all 0.5s;

    &:hover {
      color: $Pink;
      background-color: $Black;
    }
  }
}
// store section 
.store {
  .store-container {
    max-width: 70rem;
    margin: auto;
    text-align: center;
    position: relative;
  }
}

.store-text {
  font-size: 2.3rem;
  color: $Black;
  margin-bottom: 1rem;
  padding-top: 3rem;

  span {
    color: $Pink;
    font-size: 3.4rem;
  }
}

.store-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  button {
    border: 2px solid $Black;
    border-radius: 0.3rem;
    font-family: inherit;
    font-size: 1rem;
    width: 8rem;
    height: 3rem;
    padding: 0.4rem 0.7rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    transition: all 0.5s;

    &:hover {
      color: $Pink;
      background-color: $Black;
    }
  }
}
.search-box {
  margin-bottom: 4rem;
  background-color: $White;
  border: 2px solid $Grey;
  border-radius: 0.2rem;
  display: inline-block;

  i {
    background-color: $Pink;
    border-right: 2px solid $Grey;
    padding: 0.7rem;
    border-radius: 0.1rem 0 0 0.1rem;
  }

  input {
    background-color: transparent;
    outline: none;
    width: 18rem;
  }
}

////////////////////// I'll work on it asap //////////////////////////
// .new-product-modal,
// .existed-product-modal {
//   display: none;
//   justify-content: center;
//   align-items: center;
//   background-color: $Grey;
//   border-radius: 0.5rem;
//   width: 24rem;
//   height: 13rem;
//   position: absolute;
//   z-index: 2;

//   p {
//     border: 4px solid $White;
//     border-radius: 0.5rem;
//     padding: 4rem 3rem;
//   }
// }
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-auto-rows: 1fr;
}
.product {
  margin: 1rem;
  border: 1px solid $Grey;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.product-img {
  overflow: hidden;

  img {
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 1px solid $Grey;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;

    &:hover {
      transform: scale(1.2);
    }
  }
  .product-cart {
    position: absolute;
    right: -4rem;
    bottom: 0;
    z-index: 1;
    border-radius: 2rem 0 0 0;
    background-color: $White;
    display: inline-block;
    transition: all 0.7s;

    &:hover {
      color: $Pink;
    }

    i {
      padding: 1.3rem;
      font-size: 1.2rem;
    }
  }
}
.product-description {
  background-color: $White;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  a {
    &:hover {
      color: $Pink;
      text-decoration: underline;
    }
  }
}
